.footer
    &-block
        border-top: 1px solid #565656
    &__text
        display: inline-block
        font-family: Open Sans
        font-weight: normal
        font-size: 12px
        color: #989898
        padding-top: 30px
        padding-bottom: 30px
